@using Data
@using Blazorise
@using System.Text

@if (TaskState != null && TaskState.UserQuotes.Any())
{
    <Accordion>
        <Collapse Visible="@collapseVisible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <Button Clicked="@(()=>collapseVisible = !collapseVisible)">@TaskState.UserQuotes.Count() quotes outstanding</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                @foreach (Quote q in TaskState.UserQuotes)
                {
                    if (!q.Responded.HasValue)
                    {
                        <div>
                        @GenerateSummary(q)
                        </div>
                    }
                }
            </CollapseBody>
        </Collapse>
    </Accordion>
}

@code {
    [CascadingParameter]
    public TaskStateMachine? TaskState { get; set; }

    bool collapseVisible = false;

    private string GenerateSummary(Quote q)
    {
        return $"{q.Project.Name} was quoted at {q.TotalFee} by {q.Issuer.FirstName} {q.Issuer.LastName} on {q.Issued}";
    }
}
